@media only screen and (max-width: 375px) {
    
    .heading {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        padding: 20px;
        align-items: center;
    }

    .fa-bars {
        border: 1px solid;
        padding: 10px;
    }
    
    .title {
        padding-left: 100px;
        
    }

    .navbar {
        display: none;
    }

    .banner {
        width: 100%;
        height: 650px;
        background-image: url(../Assets/Images/img_1.jpg);
        background-size: cover;
        background-position: center;
    }

    .bannerContent {
        text-align: center;
        padding: 50px;
        width: auto;
    }

    .banner_title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        padding-bottom: 20px;
    }

    .banner_para {
        background-color: blue;
        color: white;
        font-size: 15px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .bannerButton {
        background-color: aqua;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        color: white;
        font-size: 15px;
    }

    .bookTourNow {
        border: 10px solid white;
        width: 180px;
        background-color: orange;
        padding: 10px 20px;
        text-align: center;
        margin: 0 75px;
        position: relative;
    }

    .book_title {
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .inputList {
        margin-bottom: 10px;
        width: 180px;
        height: 20px;
    }

    .inputList, placeholder {
        font-size: 8px;
    }

    .findToursbutton {
        color: white;
        background-color: grey;
        border: none;
        padding: 10px;
        position: absolute;
        bottom: -25px;
        left: 70px;
    }

    .innerContainer {
        width: auto;
        height: 380px;
        margin: 20px 30px;
    }

    .inner_title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        width: 300px;  
    }

    .inner_para {
        padding: 20px 0;
        text-align: justify;
    }

    .innerImage {
        width: 250px;
        height: 100%;
        padding: 10px 35px;
    }

    .footer {
        width: auto;
        height: auto;
    }

    .footerheading {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }

    .img_container {
        margin: 15px 0 0 8px;
    }

    .footerImg {
        padding: 10px 35px;
    }

    .Image {
        width: 100%;
        height: 220px
    }

    .footerbtnOuter {
        text-align: center;
        margin: 20px 0;
        margin-bottom: 50px;
    }

    .footerButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: aqua;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        color: white;
        font-size: 15px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    
    .heading {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        padding: 20px;
        align-items: center;
        width: auto;
    }

    .fa-bars {
        border: 1px solid;
        padding: 10px;
    }
    
    .title {
        padding-left: 120px;
        
    }

    .navbar {
        display: none;
    }

    .banner {
        width: 1auto00%;
        height: 650px;
        background-image: url(../Assets/Images/img_1.jpg);
        background-size: cover;
        background-position: center;
    }

    .bannerContent {
        text-align: center;
        padding: 20px;
        width: auto;
    }

    .banner_title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        padding-bottom: 20px;
    }

    .banner_para {
        background-color: blue;
        color: white;
        font-size: 15px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .bannerButton {
        background-color: aqua;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        color: white;
        font-size: 18px;
    }

    .bookTourNow {
        border: 10px solid white;
        width: 220px;
        background-color: orange;
        padding: 10px 20px;
        text-align: center;
      
        position: relative;
    }

    .book_title {
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .inputList {
        margin-bottom: 12px;
        width: 200px;
        height: 25px;
    }

    .inputList, placeholder {
        font-size: 10px;
    }

    .findToursbutton {
        color: white;
        background-color: grey;
        border: none;
        padding: 10px;
        position: absolute;
        bottom: -25px;
        left: 90px;
    }

    .innerContainer {
        width: auto;
        height: 420px;
        margin: 30px 40px;
    }

    .inner_title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 28px;
        width: 300px;  
    }

    .inner_para {
        padding: 20px 0;
        text-align: justify;
        font-size: 20px;
    }

    .innerImage {
        width: 320px;
        height: 150%;
        padding: 10px 20px;
    }

    .footer {
        width: auto;
        height: 2100px;
    }

    .footerheading {
        padding-top: 40px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }

    .img_container {
        margin: 30px 0 0 8px;
    }

    .footerImg {
        padding: 10px 35px;
    }

    .Image {
        width: 100%;
        height: 220px
    }

    .footerbtnOuter {
        text-align: center;
        margin: 20px 0;
        margin-bottom: 50px;
    }

    .footerButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: aqua;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        color: white;
        font-size: 18px;
    }
}