body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.task5_title {
    padding-left: 10px;
}


.task5_title:hover {
    text-decoration: underline;
}

.task5_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;
    margin-top: 30px;
}

.task5_form {
    width: max-content;
    height: max-content;
    border: 5px gray;
    border-style: double;
    padding: 20px 40px;
    background: linear-gradient(to bottom right, #ffff00 0%, #00ffff 100%);  
}

.formSection {
    padding: 10px 0;
}

.task5_label {
    width: 100%;
    margin: 8px 0;
    padding-left: 10px;
    display: inline-block;
}

.task5_input {
    width: 100%;
    padding: 10px;
    border-radius: 105px;
    border: none;
    background: linear-gradient(to bottom, #ffff99 0%, #ffffff 100%);
}

.task5_input:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #ffff99 100%);
}

.task5_select {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 105px;
    border: none;
    background: linear-gradient(to bottom, #ffff99 0%, #ffffff 100%);
}

.task5_select:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #ffff99 100%);
}

.task5_option {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.task5_textarea {
    width: 100%;
    margin: 8px 0;
    border: none;
    margin-left: 10px;
    background: linear-gradient(to bottom, #ffff99 0%, #ffffff 100%);
}

.task5_textarea:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #ffff99 100%);
}

.task5_date {
    width: 100%;
    padding: 10px;
    border-radius: 105px;
    border: none;
    background: linear-gradient(to bottom, #ffff99 0%, #ffffff 100%);
}

.task5_date:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #ffff99 100%);
}

.genderDiv {
    display: flex;
}

.genderList {
    display: flex;
    align-items: center;
    transition: transform .1s;
}

.genderList:hover {
    transform: scale(.9);
}

.radioBtn {
    padding-right: 25px;
    padding-left: 5px;
}

[type="radio"] {
    width: 20px;
    height: 20px;
}

.formSection_Terms {
    padding: 10px 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: transform .1s;
}

.formSection_Terms:hover {
    transform: scale(.98);
}

.task5_checkbox {
   width: 20px;
}

.submitBtn {
   text-align: center;
}

.task5_btn {
    margin-top: 15px;
    padding: 10px 50px;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background: linear-gradient(to bottom, #ff6600 0%, #00ff00 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform .1s;
}

.task5_btn:hover {
    background: linear-gradient(to bottom, #00ff00 0%, #ff6600 100%);
    transform: scale(1.05);
}
