@font-face {
    font-family: Lexend-Regular;
    src: url(../Assets/font/Lexend/static/Lexend-Regular.ttf);
}
@font-face {
    font-family: Lexend-Bold;
    src: url(../Assets/font/Lexend/static/Lexend-Bold.ttf);
}
@font-face {
    font-family: Lexend-SemiBold;
    src: url(../Assets/font/Lexend/static/Lexend-SemiBold.ttf);
}
@font-face {
    font-family: Lexend-Medium;
    src: url(../Assets/font/Lexend/static/Lexend-Medium.ttf);
}
@font-face {
    font-family: Lexend-Thin;
    src: url(../Assets/font/Lexend/static/Lexend-Thin.ttf);
}

body {
    color: #344a65;
}

@media only screen and (max-width:374px) {
    .navList {
        display: none;
    }

    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .navTitle {
        padding: 20px;
        font-family: Lexend-Bold;
        font-size: 20px;

    }

    .lnr-menu {
        font-size: 30px;
        padding: 20px;
        color: white;
    }

    .bannerContainer {
        height: 592px;
        padding: 128px 12px;
        background-image: linear-gradient(to right top, #CCE8FD, #BDCDFF);
    }

    .bannerFront {
        padding: 32px 16px;
        background-color: rgba(255, 255, 255, 0.4);
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 35px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 32px;
    }

    .bannerHeading {
        font-family: Lexend-Bold;
        font-size: 35px;
        text-align: center;
        margin-bottom: 28px;
    }

    .bannerContent {
        font-family: Lexend-Regular;
        font-size: 17px;
        text-align: center;
        line-height: 26px;
    }

    .banner_btn_div {
        margin-top: 32px;
        display: block;
        text-align: center;
    }

    .bannerBtn {
        width: 170px;
        height: 54px;
        border-radius: 50px;
        padding: 16px 41px;
        margin: 10px;
        text-align: center;
        font-family: Lexend-Medium;
        font-size: 16px;
        color: white;
        border: none;
        background-image: linear-gradient(to right, #9e46eb, #f66e4f);
    }

    .banner_image_div {
        width: 296px;
        height: 171px;
        border-radius: 35px;
    }

    .bannerImage {
        width: 100%;
        height: 100%;
        border-radius: 35px;
    }
}

